{% load static %}
<html>
<head>
    <title>CRUD DJANGO</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/crud.css' %}">
    <meta charset="UTF-8">
</head>
<body>

<div class="page-header" style="background-color: #357ebd">
    <h1>CRUD DJANGO</h1>
</div>

<h2 style="color: #1B365D; margin-top: 4rem;">CURSO DE {{ nomeCurso }}</h2>

<div style="margin-top: 4rem;" align="center">


    <table class="table table-striped table-hover" style="width: 80%; " align="center">
        <thead style="background-color: #357ebd; ">
        <tr>
            <th style="text-align: center; color: white">MATÉRIA</th>
            <th style="text-align: center; color: white">NOME DO PROFESSOR</th>
            <th style="text-align: center; color: white">CARGA HORARIA</th>
        </tr>
        </thead>
        <tbody>
        {% for mC in materiasCurso %}
        <tr>
            <td style="text-align: center;">{{ mC.descricao }}</td>
            <td style="text-align: center;">{{ mC.nome_professor }}</td>
            <td style="text-align: center;">{{ mC.carga_horaria|stringformat:"i" }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <div style="margin-top: 12rem">
    </div>

    <div style="margin-top: 3rem" align="center">
        <a class="btn btn-primary" href="{% url 'url_lista' %}">Voltar</a>
    </div>
</div>

</body>
</html>