{% load static %}
{% load widget_tweaks %}
<html>
<head>
    <title>CRUD DJANGO</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/crud.css' %}">
    <meta charset="UTF-8">
</head>
<body class="ground">

<div class="page-header">
    <h1>CRUD DJANGO</h1>
</div>
{% block content %}
<h2 style="color: #1B365D;">DETALHAMENTO DO ALUNO</h2>
<div align="center">

    <form method="post" style="width: 35%;">
        {% csrf_token %}

        {% for field in form.visible_fields %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field | add_class:'form-control' }}

            {% for error in field.errors %}
            <span class="help-block" style="color: red">{{ error }}</span>
            {% endfor %}
        </div>
        {% endfor %}

        <div class="form-group">
            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-ok"></span> Atualizar
            </button>
            <a href="{% url 'url_lista' %}" class="btn btn-warning">Voltar</a>
        </div>
    </form>
</div>

{% endblock %}
</body>
</html>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>