{% load static %}
{% load widget_tweaks %}
{% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}
{% bootstrap_css %}         {# Embed Bootstrap CSS #}
{% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
{{ form.media }}            {# Adds date-picker required JS and CSS #}
<html>
<head>
    <title>CRUD DJANGO</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/crud.css' %}">
    <meta charset="UTF-8">
</head>
<body class="ground">

<div class="page-header">
    <h1>CRUD DJANGO</h1>
</div>

{% block content %}
<h2 style="color: #1B365D;">DETALHAMENTO DO ALUNO</h2>
<div align="center">

    <form method="post" style="width: 35%;">
        {% csrf_token %}

        {% for field in form.visible_fields %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field | add_class:'form-control' }}

            {% for error in field.errors %}
            <span class="help-block" style="color: red">{{ error }}</span>
            {% endfor %}
        </div>
        {% endfor %}

        <div class="form-group">
            <button type="submit" id='linkButton' class="btn btn-primary">
                <span class="glyphicon glyphicon-ok"></span> Atualizar
            </button>
            <a href="{% url 'url_lista' %}" class="btn btn-warning">Voltar</a>
        </div>
    </form>
</div>

{% endblock %}
</body>
</html>

<script type="text/javascript">
  $(document).ready(function() {

    toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "preventDuplicates": true,
                "onclick": null,
                "showDuration": "100",
                "hideDuration": "800",
                "timeOut": "800",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "show",
                "hideMethod": "hide"
            };
    $('#linkButton').click(function() {
       toastr.success('Dados do atualizado com sucesso!');
    });
  });
</script>

<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>