{% load static %}
<html>
<head>
    <title>CRUD DJANGO</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/crud.css' %}">
    <meta charset="UTF-8">
</head>
<body class="ground">

<div class="page-header">
    <h1>CRUD DJANGO</h1>
</div>

<h1 style="color: #1B365D; margin-top: 3rem;">ALUNOS MATRICULADOS</h1>

<div style="margin-top: 3rem" align="center">

    {% if matriculas|length > 0%}

    <table style="border: solid; 1px; border-color: #1B365D; width: 70%;">
        <tr style="background-color: #2d6ca2">
            <th style="width: 15%; text-align: center; color: #1B365D">NOME</th>
            <th style="width: 10%; text-align: center; color: #1B365D">RA</th>
            <th style="width: 15%; text-align: center; color: #1B365D">CURSO</th>
            <th style="width: 15%; text-align: center; color: #1B365D">AÇÕES</th>
        </tr>
        {% for matricula in matriculas %}
        <tr style="background-color: #A7BCD6; border: solid; 1px; border-color: #1B365D">
            <td width="20%" height="45" style=" text-align: center;">
                <a href="{% url 'url_aluno' matricula.cpf%}">{{ matricula.nome | title | truncatechars:22 }}</a>
            </td>
            <td width="10%" style="text-align: center;">{{ matricula.ra }}</td>

            <td width="10%" style="text-align: center;"><a style="margin-left: 1%"
                   href="{% url 'url_curso' matricula.id %}">{{ matricula.curso.descricao }}</a></td>

            <td width="10%" style="text-align: center;">
                <a type="button" class="btn btn-warning btn-sm" href="{% url 'url_editar' matricula.id%}"><span class="glyphicon glyphicon-pencil"></span></a>
                <a style="margin-left: 1%" type="button" class="btn btn-danger btn-sm" id='linkButton' href="{% url 'url_deletar' matricula.id%}" onclick="return confirm('Você tem certeza que deseja excluir esse registro?')"><span class="glyphicon glyphicon-trash"></span></a>

            </td>
        </tr>
        {% endfor %}
    </table>

    <div class="absolute">
        {% if matriculas.has_other_pages %}
            <ul class="pagination">
            {% if matriculas.has_previous %}
              <li><a href="?page={{ matriculas.previous_page_number }}">&laquo;</a></li>
            {% else %}
              <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in matriculas.paginator.page_range %}
              {% if matriculas.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
              {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            {% if matriculas.has_next %}
              <li><a href="?page={{ matriculas.next_page_number }}">&raquo;</a></li>
            {% else %}
              <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
            </ul>
        {% endif %}

        <div style="position: relative; margin-top: 2.5rem">
            <a class="btn btn-primary" href="{% url 'url_cadastro' %}">Nova Matrícula</a>
        </div>
    </div>

    {% else %}

    <div style="margin-top: 12rem">
        <span style="color: red; margin-top: 3rem;">AINDA NÃO EXISTEM REGISTROS DE MATRÍCULAS NO SISTEMA</span>
    </div>

    <div style="margin-top: 12rem">
    </div>

    <div style="margin-top: 5rem;position: relative;" align="center">
       <a class="btn btn-primary" href="{% url 'url_cadastro' %}">Nova Matrícula</a>
   </div>
    {% endif %}
</div>

</body>
</html>

<script type="text/javascript">
  $(document).ready(function() {
    toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "preventDuplicates": true,
                "onclick": null,
                "showDuration": "100",
                "hideDuration": "800",
                "timeOut": "800",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "show",
                "hideMethod": "hide"
            };
    $('#linkButton').click(function() {
       toastr.success('Dados do atualizado com sucesso!');
    });
  });
</script>

<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>