{% load static %}
<html>
<head>
    <title>CRUD DJANGO</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/crud.css' %}">
    <meta charset="UTF-8">
</head>
<body class="ground">

<div class="page-header">
    <h1>CRUD DJANGO</h1>
</div>

<h1 style="color: #1B365D; margin-top: 3rem;">ALUNOS MATRICULADOS</h1>

<div style="margin-top: 3rem" align="center">

    {% if matriculas|length > 0%}

    <table style="border: solid; 1px; ">
        <tr style="background-color: #2d6ca2">
            <th style="width: 15%; text-align: center;">NOME</th>
            <th style="width: 10%; text-align: center;">RA</th>
            <th style="width: 15%; text-align: center;">CURSO</th>
            <th style="width: 15%; text-align: center;">AÇÕES</th>
        </tr>
        {% for matricula in matriculas %}
        <tr style="background-color: #A7BCD6; border: solid; 1px;">
            <td width="32%" style=" text-align: center;">
                <a style="margin-left: 1%"
                   href="{% url 'url_aluno' matricula.cpf%}">{{ matricula.nome | title | truncatechars:28 }}</a>
            </td>
            <td style="text-align: center;">{{ matricula.ra }}</td>

            <td style="text-align: center;"><a style="margin-left: 1%"
                   href="{% url 'url_curso' matricula.id %}">{{ matricula.curso.descricao }}</a></td>

            <td style="text-align: center; width: 12%">
                <a type="button" class="btn btn-info" href="{% url 'url_editar' matricula.id%}">E</a>
                <a style="margin-left: 1%" type="button" class="btn btn-danger" id='linkButton' href="{% url 'url_deletar' matricula.id%}" onclick="return confirm('Você tem certeza que deseja excluir esse registro?')">X</a>
            </td>
        </tr>
        {% endfor %}
    </table>

    {% else %}

    <div style="margin-top: 12rem">
        <span style="color: red; margin-top: 3rem;">AINDA NÃO EXISTEM REGISTROS DE MATRÍCULAS NO SISTEMA</span>
    </div>

    <div style="margin-top: 12rem">
    </div>
    {% endif %}

    <div style="margin-top: 3rem" align="center">
        <a class="btn btn-primary" href="{% url 'url_cadastro' %}">Nova Matrícula</a>
    </div>
</div>

</body>
</html>

<script type="text/javascript">
  $(document).ready(function() {
    toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "preventDuplicates": true,
                "onclick": null,
                "showDuration": "100",
                "hideDuration": "800",
                "timeOut": "800",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "show",
                "hideMethod": "hide"
            };
    $('#linkButton').click(function() {
       toastr.success('Dados do atualizado com sucesso!');
    });
  });
</script>

<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>